.search-chemical {
  padding-top: 20px;
}

.chemical {
  padding-top: 20px;
}

.conversion {
  padding-top: 10px;
}

h2 {
  color: CornFlowerBlue;
}

h3 {
  color: CornFlowerBlue;
}

.wrong-name {
  color: maroon;
}

p.glyphicon-arrow-down {
  color: CornFlowerBlue;
}

.panel {
  border-color: palegreen;
}
